.register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100wh;
    height: 100vh;
    flex-direction: column;
    &__title{
        font-size: 2rem;
        color: blue;
    }
    &__text{
        font-size: 1rem;
        color: grey;
        margin-top: 10px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        &__label{
            font-size: 1rem;
        }
        &__input{
            width: 350px;
            margin: 0 0 20px 0;
            padding: 10px;
            border: 1px solid grey;
            border-radius: 5px;
            font-size: 1rem;
        }
        &__button{
            width: 350px;
            padding: 10px;
            border: 1px solid grey;
            border-radius: 5px;
            font-size: 1rem;
            background-color: blue;
            color: white;
        }
        &__link{
            font-size: 1rem;
            text-align: center;
            margin-top: 10px;
        }

    } 

}